/**/*.log
/**/*.log.zip
/**/.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/target
/**/test-output
/**/*.ast.txt
/**/*.analysis.txt
/**/*.class
jvmbasicc/jvmbasic-test-output
jvmbasicwww/classfiles
demo/jvmbasicrt.jar
demo/jvmbasicc.jar
demo/demo.tar.gz
demo/bottlesofbeer.jar
jvmbasicc/BEER.class
pom.xml.versionsBackup
/eggsample
.work
*.work
