/**/*.log
/**/.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/target
/**/test-output
jvmbasicc/jvmbasic-test-output
jvmbasicwww/classfiles
demo/jvmbasicrt.jar
demo/jvmbasicc.jar
demo/demo.tar.gz
demo/bottlesofbeer.jar
